
<!--section class="card"-->
<!--section>
  <article class="sample-img">
    <div class="detail">
        <iframe src="https://open.spotify.com/embed/track/{{songlink}}" width="100%" height="100%" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>    
        <button class = "delete" data-id={{id}}>&#128465;</button>
    </div>
  </article>
  
</section-->

<section class="mysong-section">
  <article class="sample-img">
    <!--div class="detail">
        <div>
            <iframe src="https://open.spotify.com/embed/track/{{songlink}}" width="100%" height="100%" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>    
            <button class="delete" data-id={{id}}>&#128465;</button>
        </div>
        <p class="message"></p>
    </div-->
    <div class="detail" style="width: 100%; height: 100%;">
        <div class="media-container">
            <iframe src="https://open.spotify.com/embed/track/{{songlink}}" width="90%" height="80px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>    
            <!--iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{songlink}}?utm_source=generator" width="90%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe-->
            <button class="delete adjust-button" data-id={{id}}>&#128465;</button>
        </div>
        <p class="message"></p>
    </div>


  </article>
</section>
